<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style>
    </style>
  </head>

  <body>
   <%= @user.name %> your current grade for <%=@course.name%> has been updated your overall score for this course is now which is <%=  @grade.overall_score %> a <%=@grade.passing_grade %> grade
  </body>
</html>
